.vs/
x64/
x32/
x86/
Debug/

packages/

BitTorrent/Debug/
BitTorrent/x64/
BitTorrent/x32/
BitTorrent/x86/

BitTorrentMain/Debug/
BitTorrentMain/x64/
BitTorrentMain/x32/
BitTorrentMain/x86/

BitTorrentTests/Debug/
BitTorrentTests/x64/
BitTorrentTests/x32/
BitTorrentTests/x86/
BitTorrentTests/.vs/

*.result

packages/